<div class="container text-center pt-5" *ngIf="loader.user && loader.timesheet">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container p-3" id="home-timesheets" *ngIf="!(loader.user && loader.timesheet)">
    <div class="container m-3">
        <h2 class="text-primary">TIMESHEETS <span class="btn btn-outline-success my-2 my-sm-0 float-sm-right" (click)="gotoDetail('-')">New Timesheet</span></h2>
        <div class="row p-1">
            <div class="col-12 mt-2" *ngFor="let tsheet of timesheets">
                <div class="card">
                    <div class="card-header" align="center">{{tsheet.date | date:"MMMM y"}}</div>
                    <div class="card-block">
                        <table class="table"> 
                            <thead class="card-title"> 
                                <th>Proposal</th> 
                                <th>PM</th> 
                                <th>Q1</th> 
                                <th>Q2</th> 
                            </thead> 
                            <tbody class="card-text"> 
                                <ng-container *ngIf="tsheet.incurridos">
                                <tr  *ngFor='let incurrido of tsheet.incurridos'> 
                                    <td>{{(incurrido.proposalObj |async)?.id}} - {{(incurrido.proposalObj |async)?.title}}</td>
                                    <td>{{incurrido.pm}}</td>
                                    <td>{{incurrido.q1}}</td>
                                    <td>{{incurrido.q2}}</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <th></th>
                                    <th>{{tsheet.totalq1}}</th>
                                    <th>{{tsheet.totalq2}}</th>
                                  </tr>
                            </ng-container>
                            </tbody> 
                        </table> 
                        <button class="btn btn-info is-pointer" (click)="gotoDetail(tsheet.$key)" 
                        *ngIf="(tsheet.year == today.getFullYear() && tsheet.month > today.getMonth()) || tsheet.year > today.getFullYear()">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End container -->
