<div class="container text-center pt-5" *ngIf="loader">
  <i class="fa fa-spinner fa-4x fa-spin fa-fw" aria-hidden="true"></i>
</div>
<div class="container-fluid p-3" *ngIf="!loader">
  <div class="row">
    <div class="col-3 m-3 p-2 border rounded">
      <div class="form-group">
        <label>Area</label>
        <select class="form-control" [(ngModel)]="filter.area">
                    <option></option>
                    <option *ngFor="let area of areas" [value]="area.$key">{{area.name}}</option>
            </select>
      </div>
      <span class="btn btn-outline-info my-2 my-sm-0" (click)="getProposals()">Apply filter</span>
    </div>
    <div class="col-8 m-3 p-2">
      <h2 class="text-primary">In progress <span class="btn btn-outline-success my-2 my-sm-0 float-sm-right" (click)="gotoDetail('-')">New Proposal</span></h2>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Area</th>
          <th>From</th>
          <th>To</th>
        </thead>
        <tbody>
          <tr *ngFor="let proposal of inprogressProposals">
            <td><button class="btn-link" (click)="gotoDetail(proposal.$key)">{{proposal.id}}</button></td>
            <td>{{proposal.title}}</td>
            <td>{{proposal.areaName}}</td>
            <td>{{proposal.start | date:'dd/MM/yyyy'}}</td>
            <td>{{proposal.end | date:'dd/MM/yyyy'}}</td>        
          </tr>
        </tbody>
      </table>
      <h2 class="text-primary mt-3">Closed</h2>
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Title</th>
          <th>Area</th>
          <th>From</th>
          <th>To</th>
        </thead>
        <tbody>
          <tr *ngFor="let proposal of closedProposals">
            <td><button class="btn-link" (click)="gotoDetail(proposal.$key)">{{proposal.id}}</button></td>
            <td>{{proposal.title}}</td>
            <td>{{proposal.areaName}}</td>
            <td>{{proposal.start | date:'dd/MM/yyyy'}}</td>
            <td>{{proposal.end | date:'dd/MM/yyyy'}}</td>        
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>